:root {
    --canvas-background-color: rgba(0, 96, 96, .75);

    --node-shape-outline-color: #fff207;
    --node-shape-outline-width: .1em;
    --node-shape-fill: #edba12;

    --node-label-font: .8em sans-serif;
    --node-label-fill-color: #fff207;

    --link-stroke: #999;
    --link-stroke-width: 1.5px;

    --link-label-font: .8em sans-serif;
    --link-label-fill: #999;
}

.graph-canvas {
    background-color: var(--canvas-background-color);
    pointer-events: all;
    position: absolute;
    left: 0px;
    top: 0px;
}

#chart {
  height: 500px;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}
